<module>
        <rawname>msteams</rawname>
        <name>MS Teams Helper</name>
        <version>17.0.1</version>
        <repo>unsupported</repo>
        <type>setup</type>
        <category>Connectivity</category>
        <publisher>4E1 Comunicacao</publisher>
        <depends>
                <module>core</module>
                <module>sipsettings</module>
        </depends>
        <license>AGPLv3</license>
        <licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
        <changelog>
                *17.0.1* Initial release
        </changelog>      
        <description>Adds support for MS Teams.</description>
        <supported>
                <version>17.0</version>
        </supported>
</module>
